.editor {
    display: grid;
    grid-template:
        "canvas picker" max-content
        / max-content max-content;

    .canvas {
        grid-area: canvas;
    }

    .color-picker {
        grid-area: picker;

        display: grid;
        grid-template-columns: 32px 32px;
        grid-auto-rows: 32px;
        row-gap: 4px;
        column-gap: 4px;

        border: 2px solid #000000;
        padding: 4px;

        .color-picker-color {
            cursor: pointer;

            &.selected {
                box-shadow: 0px 0px 2px 2px #000000a4;
                width: 30px;
                height: 30px;
                margin: 1px;
            }
        }
    }
}